/*  File Name: game.ts
  Author Name: Anuben Keshavala
  File Description: Dice Roller
  COMP125-Final Test
  Student ID: 301120629
  Date: August 19, 2020 
*/

body
{
    background-color: lightgray;
}

#canvas
{
    background-color: white;
    border: 1px dotted black;
    border-radius: 10px;
}

#mainContent
{
    width: 640px;
    margin: 0 auto;
}